{% extends "base.html" %}
{% load i18n staticfiles %}
{% block content %}


  <section id="form"><!--form-->
    <div class="container well well-lg">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <div class="login-form"><!--login form-->
            <h2>Login to your account</h2>

            <div id="content-main">
            {% if form.errors and not form.non_field_errors %}
                <p class="errornote">
                {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </p>
                {% endif %}

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="errornote">
                    {{ error }}
                </p>
                {% endfor %}
            {% endif %}
            <form action="{{app_path }}" method="post" class="login-form" id="login-form">{% csrf_token %}
              <div class="form-row">
              {{ form.username.errors }}
               {{ form.username }}
            </div>
              <div class="form-row">
              {{ form.password.errors }}
              {{ form.password }}
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
             
              {% url 'account_password_reset' as password_reset_url %}
              {% if password_reset_url %}
              <div class="password-reset-link">
                <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
              </div>
              {% endif %}
              <div class="submit-row">
                <label>&nbsp;</label><input type="submit" class="btn btn-default" value="{% trans 'Log in' %}" />
              </div>
            </form>
            </div>

          </div><!--/login form-->
        </div>
        <div class="col-sm-1">
          <h2 class="or">OR</h2>
        </div>
        <div class="col-sm-4">
          <div class="signup-form"><!--sign up form-->
            <h2>New User Signup!</h2>

            <form action="{% url 'account_signup' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ signup_form.as_p}}
              <button type="submit" class="btn btn-default">Signup</button>
            </form>

          </div><!--/sign up form-->
        </div>
      </div>
    </div>
  </section>





<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{% endblock %}
{% block left_sidebar%}
{% endblock %}
