{% extends "base.html" %}

{% load i18n %}


{% block content %}
    <div class="row">
        <div class="col-md-5">

            <form method="POST" action="{% url "account_profile" %}">
                <legend>{% trans "Account" %}</legend>
                {%  if new_email_address %}<p>{%  trans 'New Email Address:' %} {{ new_email_address }} - {%  trans 'Not verified' %}</p> {% endif %}
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
        <div class="password-change">
            <a href="{% url 'account_password' %}">Password Change</a>
        </div>
    </div>
{% endblock %}
