{% extends 'base.html'%}

{% load staticfiles %}
{% block content %}	
<div class="col-sm-12 padding-left">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						
						
						{%for product in product_list %}
						
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<a href="{{ product.slug }}">
										<div class="productinfo text-center">
											<img src="/media/{{ product.productimage_set.all.0.photo }}" alt="" />
											<h2><span>Rs. </span>{{product.price}}</h2>
											<p>{{product.name}}</p>
											<a href="{{ product.slug }}" class="btn btn-default add-to-cart"><i class="fa fa-info"></i>Details</a>
										</div>
										</a>
									
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>

						{% endfor %}
						
						
						
						<ul class="pagination">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
						</ul>
					</div><!--features_items-->
				</div>
{% endblock %}
{% block left_sidebar %}{% endblock %}

{% block recommended %}{% endblock %}