{% extends 'base.html' %}
{% load staticfiles %} 
{% load product_category %}
{% load thumbnail%}
{% block content %}
	<div class="col-sm-9 padding-right">
		<div class="product-details"><!--product-details-->
			<div class="col-sm-5">
				<div class="view-product">
				{% thumbnail object.productimage_set.all.0.photo '300' as im %}
									<img src='{{ im.url }}' class="girl img-responsive" alt=""/>
					{% endthumbnail%}
					<h3></h3>
				</div>
				<div id="similar-product" class="carousel slide" data-ride="carousel">
					
					  <!-- Wrapper for slides -->
					    <div class="carousel-inner">
							<div class="item active">
							  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
							  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
							  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
							</div>
							<div class="item">
							  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
							  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
							  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
							</div>
							<div class="item">
							  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
							  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
							  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
							</div>
							
						</div>

					  <!-- Controls -->
					  <a class="left item-control" href="#similar-product" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					  </a>
					  <a class="right item-control" href="#similar-product" data-slide="next">
						<i class="fa fa-angle-right"></i>
					  </a>
				</div>

			</div>
			<div class="col-sm-7">
				<div class="product-information"><!--/product-information-->
					<h2>{{ object.name }}</h2>
					<p>Web ID: {{object.id}}</p>
					<p>Rating: {{ object.get_averageRating }}</p>
					<img src="{% static 'images/product-details/rating.png' %}" alt="" />
					<span>
						<span>Rs. {{object.price}}</span>
						<label>Quantity:</label>

						<div class="cart_quantity_button">
									
									<input class="cart_quantity_input" id="productQuantity" type="number" name="quantity" value="1" autocomplete="off" size="2" {%if object.qty == 0 %}disabled="disabled"{% endif %}>
									
						</div>


						<button type="button" class="btn btn-fefault cart">
							<i class="fa fa-shopping-cart"></i>
							Add to cart
						</button>
					</span>
					<p><b>Availability:</b>{%if object.qty == 0 %}Out of Stock{% else %} In Stock {% endif %}</p>
					<p><b>Condition:</b> New</p>
					<p><b>Brand:</b> E-SHOPPER</p>
					<a href=""><img src="{% static 'images/product-details/share.png' %}" class="share img-responsive"  alt="" /></a>
				</div><!--/product-information-->
			</div>
		</div><!--/product-details-->
		
		<div class="category-tab shop-details-tab"><!--category-tab-->
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
					<!-- <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
					<li><a href="#tag" data-toggle="tab">Tag</a></li> -->
					<li><a href="#reviews" data-toggle="tab">Reviews ({{object.comments_set.all.count}})</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="details" >
					{{object.description}}
				</div>
				
				<div class="tab-pane fade" id="companyprofile" >
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery1.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery3.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery2.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery4.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="tab-pane fade" id="tag" >
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery1.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery2.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery3.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery4.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="tab-pane fade" id="reviews" >
					<div class="col-sm-12">
						<div  id="commentList">
						{% for comment in object.comments_set.all %}
							<ul>
								<li><a href=""><i class="fa fa-user"></i>{{ comment.user.user }}</a></li>
								<li><a href=""><i class="fa fa-clock-o"></i>{{ comment.created_date|date:"h:i A" }}</a></li>
								<li><a href=""><i class="fa fa-calendar-o"></i>{{ comment.created_date|date:"d M Y" }}</a></li>
							</ul>
							<p style="background-color: #f5f5f5; padding: 5px; margin-bottom:20px;">{{comment.comments}}</p>
						{% endfor %}
						</div>

						<p><b>Write Your Review</b></p>
						
						<form action="#">
							<textarea name="" id="comment"></textarea>
							<b>Rating: </b> <input id="rating" type='number'><img src="images/product-details/rating.png" alt="" />
							<button type="button" class="btn btn-default pull-right comment_form_submit">
								Submit
							</button>
						</form>
					</div>
				</div>
				
			</div>
		</div><!--/category-tab-->
		
		
	</div>
{% endblock %}
{% block left_sidebar %}

	{% show_category category_list %}

{% endblock%}

{% block recommended %}
	{% include 'recommended.html' %}
{% endblock %}

{% block javascript %}
	<script>
	$.fn.appendComment=function (obj){
		var comment = '<ul>\
							<li><a href=""><i class="fa fa-user"></i>'+ obj.data.comment_user+'</a></li>\
							<li><a href=""><i class="fa fa-clock-o"></i>'+ obj.data.time+'</a></li>\
							<li><a href=""><i class="fa fa-calendar-o"></i>'+ obj.data.date+'</a></li>\
						</ul>\
						<p style="background-color: #f5f5f5; padding: 5px; margin-bottom:20px;">'+obj.data.comment_text+'</p>';
		$(this).append(comment);

	}
	
	$('.comment_form_submit').click(function(){
		var comment = $('#comment').val().trim();
		var rating = $('#rating').val().trim();
		if(comment == '') return false;
		var data ={'comment':comment, 'product_id':{{object.id}},'rating':rating };

		//console.log(data);
		$.ajax({
			type: "POST",
			url: '/product/ajax/comment/',
			data: data, 
			success: successFun,

		});
		function successFun(data){
			console.log(data);
			$('#commentList').appendComment(data);
		}
	})

	$('.cart').click(function(){
		alert('123');
		var quantity = $('#productQuantity').val();
		if(quantity == '') return false;
		var data ={'quantity':quantity, 'product_id':{{object.id}} };

		//console.log(data);
		$.ajax({
			type: "POST",
			url: '/cart/ajax/addToCart/',
			data: data, 
			success: successFun,

		});
		function successFun(data){
			alert(data.result);
			// $('#commentList').appendComment(data);
		}
	})
</script>
{% endblock%}
